<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innomatics Page</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#mybutton').click(function() {
          $.post('/button', function(data) {
            $('#result').text(data.result);
          });
        });
      });
    </script>

</head>
<body>
<h1>Welcome to the ADD Page</h1>
<form action="{{ url_for('add_fun') }}" method="post">
    <input type="text" name="var_1" maxlength="500">
    <input type="submit" value="ADD"> <br><br><br>
    <label>{{result}}</label>
</form>
</body>
</html>